# --- Unity standard ignores ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Bb]ackup/
/Assets/AssetStoreTools*

# Visual Studio / Rider noise
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.vs/
.idea/

# OS junk
.DS_Store
Thumbs.db
