# --- Unity standard ignores ---
/Idle Skiller/[Ll]ibrary/
/Idle Skiller/[Tt]emp/
/Idle Skiller/[Oo]bj/
/Idle Skiller/[Bb]uild/
/Idle Skiller/[Bb]uilds/
/Idle Skiller/[Ll]ogs/
/Idle Skiller/[Uu]ser[Ss]ettings/
/Idle Skiller/[Mm]emoryCaptures/
/Idle Skiller/[Bb]ackup/
/Idle Skiller/Assets/AssetStoreTools*

# Visual Studio / Rider noise
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.vs/
.idea/

# OS junk
.DS_Store
Thumbs.db
